@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@keyframes fadein {
  from-opacity: 0;
  to-opacity: 1; }
@keyframes fadein {
  from-opacity: 0;
  to-opacity: 1; }
html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #d9dde6;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  letter-spacing: 0.5px; }

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
  color: #6c3e49;
  opacity: 1;
  transition: opacity;
  text-shadow: -0.5px 0.5px rgba(178, 120, 134, 0.25), -1px 1px rgba(178, 120, 134, 0.25), -1.5px 1.5px rgba(178, 120, 134, 0.25), -2px 2px rgba(178, 120, 134, 0.25), -2.5px 2.5px rgba(178, 120, 134, 0.25), -3px 3px rgba(178, 120, 134, 0.25), -3.5px 3.5px rgba(178, 120, 134, 0.25), -4px 4px rgba(178, 120, 134, 0.25); }

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 22.5038167939px);
  letter-spacing: -0.5px; }

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  letter-spacing: -0.5px; }

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  letter-spacing: 0.25px; }

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  font-weight: 700; }

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  font-weight: 700; }

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  color: #6e75a4;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  text-decoration: none; }

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(1.0178117048vw + 14.1832061069px); }

.caption {
  color: #9ba6be;
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(1.0178117048vw + 10.1832061069px)/10; }

.error {
  color: #971433;
  font-family: Lato, sans-serif;
  font-size: calc(1.0178117048vw + 10.1832061069px);
  font-variant-caps: all-small-caps; }

.small-text {
  font-size: calc(0.5089058524vw + 8.0916030534px); }

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #9ba6be;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  letter-spacing: 0.25px; }

.text-card i svg {
  vertical-align: bottom !important; }

@keyframes fadein {
  from-opacity: 0;
  to-opacity: 1; }
@keyframes fadein {
  from-opacity: 0;
  to-opacity: 1; }
html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #d9dde6;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  letter-spacing: 0.5px; }

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
  color: #6c3e49;
  opacity: 1;
  transition: opacity;
  text-shadow: -0.5px 0.5px rgba(178, 120, 134, 0.25), -1px 1px rgba(178, 120, 134, 0.25), -1.5px 1.5px rgba(178, 120, 134, 0.25), -2px 2px rgba(178, 120, 134, 0.25), -2.5px 2.5px rgba(178, 120, 134, 0.25), -3px 3px rgba(178, 120, 134, 0.25), -3.5px 3.5px rgba(178, 120, 134, 0.25), -4px 4px rgba(178, 120, 134, 0.25); }

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 22.5038167939px);
  letter-spacing: -0.5px; }

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  letter-spacing: -0.5px; }

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  letter-spacing: 0.25px; }

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  font-weight: 700; }

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  font-weight: 700; }

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  color: #6e75a4;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  text-decoration: none; }

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(1.0178117048vw + 14.1832061069px); }

.caption {
  color: #9ba6be;
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(1.0178117048vw + 10.1832061069px)/10; }

.error {
  color: #971433;
  font-family: Lato, sans-serif;
  font-size: calc(1.0178117048vw + 10.1832061069px);
  font-variant-caps: all-small-caps; }

.small-text {
  font-size: calc(0.5089058524vw + 8.0916030534px); }

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #9ba6be;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  letter-spacing: 0.25px; }

.text-card i svg {
  vertical-align: bottom !important; }

.btn-primary {
  font-family: Lato, sans-serif;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  font-variant-caps: all-small-caps;
  border: none;
  box-shadow: 1px 1px rgba(110, 117, 164, 0.3);
  color: #d9dde6;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  height: calc(2.7989821883vw + 11.5038167939px);
  margin: calc(1.0178117048vw + 10.1832061069px);
  text-align: center;
  text-decoration: none;
  background-color: #393d5a; }
  .btn-primary:hover, .btn-primary:active {
    cursor: pointer; }
  .btn-primary:active {
    background-color: #6e75a4; }

.btn-secondary {
  font-family: Lato, sans-serif;
  font-size: calc(2.7989821883vw + 11.5038167939px);
  font-variant-caps: all-small-caps;
  border: none;
  box-shadow: 1px 1px rgba(110, 117, 164, 0.3);
  color: #d9dde6;
  font-size: calc(1.0178117048vw + 14.1832061069px);
  height: calc(2.7989821883vw + 11.5038167939px);
  margin: calc(1.0178117048vw + 10.1832061069px);
  text-align: center;
  text-decoration: none;
  background-color: #6c3e49; }
  .btn-secondary:hover, .btn-secondary:active {
    cursor: pointer; }
  .btn-secondary:active {
    background-color: #b27886; }

html {
  height: 100%;
  width: 100%; }

body {
  background-color: #1b1d2b;
  color: #d9dde6;
  overflow-x: hidden;
  overflow-y: scroll; }

div.app {
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-image: url("/images/isaac-davis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: max-content auto max-content;
  margin: -2vw;
  min-height: 100vh;
  padding: 2vw; }

div.content {
  min-height: 85vh;
  padding-top: calc(2.7989821883vw + 11.5038167939px);
  position: relative; }

/*# sourceMappingURL=main.css.map */
