@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,700&display=swap");
html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

.btn-primary {
  font-family: Lato, sans-serif;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  font-variant-caps: all-small-caps;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding: 8px;
  background-color: #2667ba;
  color: #f6f6ff;
}

.btn-secondary {
  font-family: Lato, sans-serif;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  font-variant-caps: all-small-caps;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding: 8px;
  background-color: #9ac4ff;
  color: #000000;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

div.about div#kyle-imbertson-pic {
  margin: 0 auto;
  max-width: 400px;
}
@media (max-width: 450px) {
  div.about div#kyle-imbertson-pic {
    margin: auto;
  }
  div.about div#kyle-imbertson-pic img {
    width: 90vw;
    height: auto;
  }
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

div#contact-page div.contact-form {
  margin-bottom: 10vw;
  margin-left: 10vw;
}
div#contact-page div.contact-form p {
  font-family: Lato, sans-serif;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}
div#contact-page div.contact-form input {
  background-color: #f6f6ff;
  border: none;
  border-bottom: 1px solid black;
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  font-weight: 900;
  padding-left: 0.5em;
  width: 44vw;
}
div#contact-page div.contact-form textarea {
  width: 80vw;
  height: 48vw;
  background-color: #ffffff;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}
div#contact-page div.contact-form .submit-buttons {
  width: 80vw;
}
div#contact-page div.contact-form .submit-buttons button {
  float: none;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

div.home-page div.section {
  padding: 2em;
}
@media (max-width: 768px) {
  div.home-page div.section {
    padding: 1em;
  }
}
div.home-page div#hero {
  background-image: url("../images/nicholas-barbaros.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: inherit;
  height: 102vh;
  width: 101vw;
  margin-top: -2vh;
  margin-left: -2vw;
  margin-bottom: 3vh;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2em 0;
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  div.home-page div#hero {
    background-attachment: scroll;
  }
}
div.home-page div#hero div.heading {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}
div.home-page div#hero div.heading span.em {
  color: white;
  font-style: italic;
}
div.home-page div#hero .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.home-page div#hero .grid .text-card {
  width: 65%;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

div.landing-page div.section {
  padding: 2em;
}
@media (max-width: 768px) {
  div.landing-page div.section {
    padding: 1em;
  }
}
div.landing-page .text-card {
  background-color: transparent;
  border: none;
}
div.landing-page div#hero {
  background-image: url("../images/nicholas-barbaros.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: inherit;
  height: 102vh;
  width: 101vw;
  margin-top: -2vh;
  margin-left: -2vw;
  margin-bottom: 3vh;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2em 0;
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  div.landing-page div#hero {
    background-attachment: scroll;
  }
}
div.landing-page div#hero div.heading {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}
div.landing-page div#hero div.heading span.em {
  color: white;
  font-style: italic;
}
div.landing-page div#why {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../images/smartphone.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  padding-bottom: 3em;
}
div.landing-page div#why .text-card {
  color: #f6f6ff;
}
@media (max-width: 768px) {
  div.landing-page div#why {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../images/smartphone-mobile.jpg");
    background-attachment: scroll;
  }
}
div.landing-page ul#get-involved {
  list-style: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
div.landing-page ul#get-involved li {
  margin-bottom: 0.7em;
}
div.landing-page ul#get-involved li:last-child {
  margin-bottom: 0em;
}
@media (max-width: 768px) {
  div.landing-page ul#get-involved {
    width: 100%;
    margin-left: -2.5em;
  }
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

#log-in-page #log-in-form {
  width: 50%;
  margin-left: 25%;
}
#log-in-page #log-in-form input {
  background-color: #f6f6ff;
}
#log-in-page #log-in-form .submit-buttons {
  float: right;
  margin-top: 1em;
  margin-right: 0px !important;
}
#log-in-page .need-account {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

#sign-up-form {
  width: 80%;
  margin-left: 10%;
}
#sign-up-form input {
  background-color: #f6f6ff;
}
#sign-up-form .error-field {
  display: inline-block;
  width: 100%;
  text-align: right;
}
#sign-up-form .btn-submit {
  display: inline-block;
  float: right;
}

html,
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.5px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.7989821883vw + 39.5038167939px);
  letter-spacing: -1.5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: -0.5px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(3.0534351145vw + 8.5496183206px);
  letter-spacing: 0.25px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  letter-spacing: 0.15px;
}

a {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  text-decoration: none;
  color: #2667ba;
}

button {
  font-family: Lato, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: calc(0.5089058524vw + 12.0916030534px);
}

.caption {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 8.0916030534px);
  font-variant-caps: all-small-caps;
  color: #68686f;
  height: 1em;
  margin-top: 0px;
  padding-top: calc(0.5089058524vw + 10.0916030534px) / 10;
}

.error {
  font-family: Lato, sans-serif;
  font-size: calc(0.5089058524vw + 10.0916030534px);
  font-variant-caps: all-small-caps;
  color: #b00020;
}

.small-text {
  font-size: calc(0.5089058524vw + 6.0916030534px);
}

.text-body-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: calc(0.5089058524vw + 12.0916030534px);
  letter-spacing: 0.25px;
  color: #68686f;
}

#top-nav {
  background-color: transparent;
  padding: 4px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#top-nav a {
  float: left;
  display: block;
  background-color: transparent;
  color: #000000;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  margin: 6px;
  font-family: Lato, sans-serif;
  font-size: calc(2.0356234097vw + 8.3664122137px);
  font-variant-caps: all-small-caps;
  font-size: 20px;
}
#top-nav a:hover {
  color: #68686f;
}
#top-nav a.active {
  color: #68686f;
}
#top-nav a#sign-in {
  float: right;
}
#top-nav span {
  display: none;
}
@media (max-width: 768px) {
  #top-nav span {
    display: block;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 2em;
  }
  #top-nav a {
    display: none;
  }
  #top-nav.responsive {
    background-color: rgba(237, 189, 100, 0.5);
    max-width: 80vw;
    border: 1px solid black;
    border-radius: 4px;
  }
  #top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: #ffffff;
    color: #6494ed;
    border: 1px solid black;
    border-radius: 4px;
  }
  #top-nav.responsive a#sign-in {
    float: left;
  }
}

.item-1 {
  grid-column: 1;
  cursor: default;
}

.item-2 {
  grid-column: 2;
  cursor: default;
}

.item-3 {
  grid-column: 3;
  cursor: default;
}

.item-4 {
  grid-column: 4;
  cursor: default;
}

.item-5 {
  grid-column: 5;
  cursor: default;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f6f6ff;
  overflow-x: hidden;
  overflow-y: scroll;
}

#footer {
  bottom: 0px;
}

/*# sourceMappingURL=main.css.map */
