doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,500,900')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

    body
        div#container
            if user
                div.row-1
                    div.col-1.pos-11 #{user.name.first}&nbsp;&nbsp;&nbsp;&nbsp;|
                    div.col-1.button <a href='/auth/logout'>log out</a>
                h1 Radical Insight
            else
                div.row-1
                    div.pos-12.button <a href='/auth/google'>log in</a>
                h1 Radical Insight
            div#menu-icon
              div
              div
              div
            div(style='clear: both')
            div#nav-menu
              div.nav.col-3 <a href='/'>home</a>
              div.nav.col-3 <a href='/about'>about</a>
              div.nav.col-3 <a href='/how-it-works'>how it works</a>
              div.nav.col-3 <a href='/resources'>resources</a>
              // div.nav <a href='/get-involved'>get involved</a>
            div(style="clear: both")

            h2.subheading= title
            block content

            div#footer
              hr
              div.nav-lower <a href='/privacy'>privacy policy</a>
              div.nav-lower <a href='/terms'>terms & conditions</a>
              div.nav-lower <a href='/get-involved'>get involved</a>
              div(style="clear: both")
              p.copyright copyright © 2019 by Kyle Imbertson
        script.
            $(document).ready(function() {
                $('div#menu-icon').click(function() {
                    $('div#nav-menu').toggle('slow');
                });
            });
