extends layout

block content
    div.resource
        h3 If you or a loved one need immediate help
        p Please <strong>call 911 and inform the operator this is a psychiatric emergency</strong> and you require an officer trained in crisis intervention, or go to your nearest emergency room.
        p Other phone numbers to call (in the United States) include
            ul
                li National Suicide Prevention Lifeline – 1-800-273-TALK (8255)
                li National Domestic Violence Hotline – 1-800-799-SAFE (7233)
                li National Sexual Assault Hotline – 1-800-656-HOPE (4673)
                li NAMI crisis text line – text “NAMI” to 741-741

    div.resource
        h3 Depression and Bipolar Support Alliance (DBSA)
        p <a href='http://www.dbsalliance.org' target='_blank'>DBSA</a> (<a href='http://www.dbsalianza.org' target='_blank'>español</a>) is a peer-led support organization with a nation-wide network of hundreds of support groups. In addition to peer facilitated support groups, DBSA provides online and print educational materials and sponsors additional events.
    
    div.resource
        h3 National Alliance on Mental Illness (NAMI)
        p <a href='https://www.nami.org' target='_blank'>NAMI</a> is a non-governmental mental health organization dedicatd to mental health education and advocacy. NAMI offers help and support to those with a mental illness as well as families and loved ones affected. Through NAMI, you can find educational courses, support groups, and a crisis text line (text “NAMI” to 741-741 to be connected with a trained crisis counselor).
        
    div.resource
        h3 Metanoia.org
        p While the website is terrifically out of date, I (Kyle) have found <a href='https://www.metanoia.org/suicide/' target='_blank'>one particular page</a> to be useful to me time and again when in the midst of a deep depression. Don't forget to read some corny <a href='https://www.metanoia.org/suicide/jokes.htm' target='_blank'>jokes</a> when you visit.
