extends layout

block content
    p Radical Insight is an open source project actively seeking developers, testers, designers, anyone! Head on over to the <a href='https://github.com/kymbert/radical-insight' target='_blank'>GitHub</a> page to get involved.
