extends layout

block content
  p Welcome to Radical Insight: a service for people to track their day-to-day mood or energy levels, allowing for <em>radical insight</em> into their mental well being.
