doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,500,900')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div#container
            h1 Radical Insight
            div.nav <a href='/'>home</a>
            div.nav <a href='/about'>about</a>
            div.nav <a href='/how-it-works'>how it works</a>
            div.nav <a href='/resources'>resources</a>
            // div.nav <a href='/get-involved'>get involved</a>
            div(style="clear: both")
            h2.subheading= title
            block content
            div#footer
              hr
              div.nav-lower <a href='/privacy'>privacy policy</a>
              div.nav-lower <a href='/terms'>terms & conditions</a>
              div.nav-lower <a href='/get-involved'>get involved</a>
              div(style="clear: both")
              p.copyright copyright © 2019 by Kyle Imbertson
