@import "../styles/variables";

.header {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;

  @media (max-width: $break-smartphone) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
