@import "../styles/main";

.mood-entry-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  // margin-left: $font-size-x-large;

  // div.input-container {
  //   display: grid;
  //   grid-template-columns: max-content auto;
  //   grid-template-rows: auto;
  // }

  div.action-container {
    display: grid;
    grid-template-columns: auto max-content;
  }

}
