@import "../styles/main";

.mood-entry-form {
  .input-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }

  .error-text {
    display: none;
  }

  div.action-container {
    display: grid;
    grid-template-columns: auto max-content;
  }
}
