@import "../styles/variables";

.textCard {
  max-width: $content-max-width;
  margin: 0 auto;
  background-color: $surface-color;
  margin-top: 1em;
  padding: 1em;
  @include border-mixin;

  h6 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
