@import "../styles/variables";

.textInput {
  width: 70%;
  display: inline-block;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: $background-color;
    padding-left: 8px;
  }
}

.textInputLabel {
  width: 30%;
  text-align: right;
  display: inline-block;
}
