$primary-color: #6494ed;
$primary-color-light: #9ac4ff;
$primary-color-dark: #2667ba;
$secondary-color: #edbd64;
$secondary-color-light: #ffef94;
$secondary-color-transparent: rgba(237, 189, 100, 0.5);
$surface-color: #ffffff;
$background-color: #f6f6ff;
$error-color: #b00020;
$text-primary-color: #000000;
$text-inverted-color: $background-color;
$text-secondary-color: #68686f;
