@import "variables";

div.section {
  font-size: 1.2em;
  padding: 2em;

  @media (max-device-width: $bp-smartphone) {
    font-size: 1em;
    padding: 1em;
  }
}

div#hero {
  background-image: url("../images/sunrise.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: inherit;

  height: 102vh;
  width: 101vw;
  margin-top: -2vh;
  margin-left: -2vw;
  margin-bottom: 3vh;
  padding: 2em 0;

  @media (max-device-width: $bp-smartphone) {
    background-image: url("../images/sunrise-mobile.jpg");
    background-attachment: scroll;
  }

  position: relative;
  text-align: center;

  div.heading {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;

    span.em {
      color: white;
      font-style: italic;
    }
  }

  p.small-text {
    position: absolute;
    top: 90%;
    right: 5%;
    color: #666;
    width: max-content;
    font-size: 1em;
  }
}

div#why {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../images/smartphone.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  padding-bottom: 3em;

  @media (max-device-width: $bp-smartphone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../images/smartphone-mobile.jpg");
    background-attachment: scroll;
  }
}

ul#get-involved {
  list-style: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  li {
    font-size: 1.3em;
    margin-bottom: 0.7em;
  }
  li:last-child {
    margin-bottom: 0em;
  }
  @media (max-device-width: $bp-smartphone) {
    width: 100%;
    margin-left: -2.5em;
  }
}
