@import "variables";

#footer-grid {
  width: 100%;
  display: inline-grid;
  text-align: center;
  font-size: 0.8em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  position: absolute;
  bottom: 0px;
}
