@import "variables";

@mixin all-buttons {
  @include button-text;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding: 8px;
}

.btn-primary {
  @include all-buttons;
  background-color: $primary-color-dark;
  color: $text-inverted-color;
}

.btn-secondary {
  @include all-buttons;
  background-color: $primary-color-light;
  color: $text-primary-color;
}
