@import "variables";

$map: (
  375: 90,
  768: 60
);
@function calcFormWidth() {
  @return calc(300px + 0.6vw);
}
$form-width: 80vw;

div#contact-page {
  div.contact-form {
    margin-bottom: $form-width * 0.125;
    margin-left: $form-width * 0.125;

    p {
      @include button-text;
      font-size: $font-size-normal;
    }

    input {
      background-color: $background-color;
      border: none;
      border-bottom: 1px solid black;
      font-family: $font-family-body;
      font-size: $font-size-normal;
      font-weight: 900;
      padding-left: 0.5em;
      width: $form-width * 0.55;
    }

    textarea {
      width: $form-width;
      height: $form-width * 0.6;
      background-color: $surface-color;
      border: 1px solid black;
      overflow-y: scroll;
      overflow-x: hidden;
      resize: none;
      @include body2;
    }

    .submit-buttons {
      width: $form-width;
      button {
        float: none;
      }
    }
  }
}
