@import "./base/module";
@import "./components/module";
@import "./landing.container";

div.home-page {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $break-smartphone) {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    .text-card {
      width: 80%;
      @media only screen and (max-width: $break-smartphone) {
        width: 80%;
      }
    }
  }

  #recent-logs {
    div.the-grid {
      display: grid;
      grid-template-columns: max-content auto auto;
      color: $text-secondary;

      span {
        padding-left: $font-size-normal;
        font-size: $font-size-small;
        &.header {
          color: $text-primary;
          font-size: $font-size-normal;
        }
      }
    }
  }
}
