@import "./base/module";
@import "./components/module";;

div.landing-page {
  div.section {
    padding: 2em;
    @media (max-width: $break-smartphone) {
      padding: 1em;
    }
  }

  div#hero {
    height: 101vh;
    padding: 2em 0;
    position: relative;
    text-align: center;
    width: 100vw;

    @media (max-width: $break-smartphone) {
      background-attachment: scroll;
    }

    div.heading {
      position: absolute;
      width: 100%;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: default;
    }
  }

  div#why {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
                      url("/images/smartphone.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
    padding-bottom: 3em;

    @media (max-width: $break-smartphone) {
      background-attachment: scroll;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
                        url("/images/smartphone-mobile.jpg");
    }
  }

  ul#get-involved {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    li {
      margin-bottom: 0.7em;
    }
    li:last-child {
      margin-bottom: 0em;
    }
    @media (max-width: $break-smartphone) {
      width: 100%;
      margin-left: -2.5em;
    }
  }
}
