@import "./modules/_breakpoints";
@import "./modules/_colors";
@import "./modules/_divContent";
@import "./modules/_fonts";
@import "./modules/_landingPage";
@import "./modules/_textStyles";
@import "./modules/resourcePage";
@import "./modules/_siteFooter";
@import "./modules/_siteHeader";
@import "./modules/_variables";

@for $i from 1 to 6 {
  .item-#{$i} {
    grid-column: $i;
    cursor: default;
  }
}

html {
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
}

span.em {
  color: white;
  font-style: italic;
}
