extends layout

block content
    p Radical Insight is still in its infancy with no functionality yet. Nevertheless, here is the general flow of the service.
    p A person wanting to keep track of his or her mood from day-to-day will create a Radical Insight account and choose a notification preference. They can choose to be notified via text (SMS) or email or no notification daily at a convenient time for them.
    p If text is chosen, they will receive an SMS asking to respond with a numeric rating of their current mood (or energy level). The SMS response is recorded to their personal log with a datestamp.
    p Likewise, if email is chosen, they will receive an email asking to respond with their current mood. The response will also be recorded to their personal log.
    p If no preference is selected, or if the user prefers to not email or text, they will be able to log in to their Radical Insight account to view their personal log, add a new entry, or edit existing entries in the event a mistake was made.
    p That is the gist of the service with more features to come later (see 
        <a href='https://github.com/kymbert/radical-insight' target='_blank'>GitHub</a> for more details).
